
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/verUpload/asset/upload.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="~/Content/verUpload/verUpload.js"></script>
<style>
    #photo {
        height: 300px;
        width: 100%;
    }

        #photo > div {
            height: 300px;
            width: 300px;
            display: inline-block;
            border: 1px solid #808080;
        }

            #photo > div > img {
                margin: 35px 41px;
            }
</style>

<script>
    var baseData = [];
    var src = "";
    function base64(imgSrc,f) { 
           //var canvas = document.createElement("canvas");   //创建canvas DOM元素，并设置其宽高和图片一样
        var canvas = document.getElementById("canvas"),//获取canvas
            ctx = canvas.getContext("2d"), //对应的CanvasRenderingContext2D对象(画笔)
            img = new Image();//创建新的图片对象 
            img.src = imgSrc;
            img.setAttribute("crossOrigin", 'Anonymous')
            img.onload = function () {//图片加载完，再draw 和 toDataURL 
                ctx.drawImage(img, 0, 0);
                var base64 = canvas.toDataURL("image/png");
                baseData = base64;
                f(base64);
            };
    }
      
    function FaceEntry(data, name) {  
        data = data.split(',')[1];

        $.ajax({
            type: "post",
            dataType: "json",
            url: "http://192.168.1.73:8099/Home/FaceEntry",
            data: {
                base64: data,
                name: name
            },
            success: function (res) {
                debugger 
            }
        });
    }

    $(function () { 

        $("#sb").on("click", function () {
            var data = new FormData();
            var files = $("#File1").get(0).files;
            if (files.length > 0) {
                for (var i = 0; i < files.length; i++) {
                    data.append(i.toString(), files[i]);
                }
            };
            $.ajax({
                type: "post",
                url: "/Index/Upload",
                contentType: false,
                cache: false,
                currentType: false,
                processData: false,
                data: data,
                success: function (res) {  
                    var img = $("#yt");
                    $(img).attr('src', res.filePath);
                    src = res.filePath;
                }
            });
        }); 

        $("#base64").click(function () { 
            FaceEntry(baseData, "testData");
        });

        $("#test").click(function () {

            $.ajax({
                type: "post",
                dataType: 'json',
                url: "http://192.168.1.73:8099/Home/test",
                data: {par:"web"},
                success: function (res) {
                    $("#status").html(res)
                }
            }); 
            
        });

        $("#enty").click(function () {
            debugger
            base64(src, function (data) {
                data = data.split(',')[1]; 
                $.ajax({
                    type: "post",
                    dataType: 'json',
                    url: "http://192.168.1.73:8099/Home/FaceRecognitionForIamge",
                    data: { "": data},
                    success: function (res) {
                        $("#status").html(res)
                    }
                });
            }) 
        });
    });

</script>

<div id="photo">
    <div>
        <img id="yt" src="~/Images/default.png" width="200" height="200" />
    </div>
    <span>原图</span>

    <div>
        <img src="~/Images/default.png" width="200" height="200"/>
    </div>
    <span>识别的图片</span>
</div>

<div id="oper">
    <form action="Upload" id="uploadForm" method="post" enctype="multipart/form-data">
        <input id="File1" name="fileupload" type="file" value="" />
    </form>
    <button id="sb">确认图片</button>
    <button id="base64">录入图片</button>
    <button id="enty">识别图片</button>
    <button id="test">测试服务</button>
    <canvas id="canvas" style="display:none;"></canvas>
</div>
<div id="status"></div>


